@import "./_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@mixin paddingBoth($right, $left) {
  padding-right: $right;
  padding-left: $left;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.panel-body {
  background-color: $bodyBg;
  bottom: 0;
  height: 100%;
}
.body {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.project-btn {
  border-radius: none !important;
}

.intro-block {
  max-width: 1425px;
  @include paddingBoth(25px, 25px);
  margin-bottom: 145px;
  z-index: 1;
}
.logo {
  min-width: 150px;
}
.banner-title{
  min-height: 57px;
}

.banner-title b {
  font-size: 38px;
}
.line-2 {
  margin-bottom: 8rem;
}

.banner-description p {
  width: 50%;
  font-size: 16px;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
@media only screen and (max-width: 959px) {
  .banner-title{
    min-height: 45px;
  }
  .banner-description p {
    text-align: justify;
    width: 100%;
  }
  .hr-divider {
    visibility: hidden;
  }
  .line-2 {
    margin-bottom:0;
  }
  .menu-dropdown {
    display: none;
  }
  .banner-row {
    margin-top: 0 !important;
  }
  .intro-block {
    margin-bottom: 12rem;
  }
  .banner-title b {
    font-size: 7.6vw;
  }
  .banner-description p {
    font-size: 4vw;
  }
}
